#level1{
    position: absolute;
    left: 900px;
    top:80px;
    color: saddlebrown;
    background-color: #ddddff;
    font-family: sans-serif;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}